<h1>Editing Api V1 Initiative Participating Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @api_v1_initiative_participating_group %> |
<%= link_to 'Back', api_v1_initiative_participating_groups_path %>
