<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_api_v1_metrics_dashboards_segment_path(@api_v1_metrics_dashboards_segment) %> |
<%= link_to 'Back', api_v1_metrics_dashboards_segments_path %>
