<%= form_for(@api_v1_filenames.txt) do |f| %>
  <% if @api_v1_filenames.txt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_v1_filenames.txt.errors.count, "error") %> prohibited this api_v1_filenames.txt from being saved:</h2>

      <ul>
      <% @api_v1_filenames.txt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
